# The base URL of your Go REST API
NEXT_PUBLIC_API_URL=http://localhost:8080

# Webhook secret to securely receive cache invalidation events from the Go API
# Must match the `secret` configured in the CMS webhooks panel!
WEBHOOK_SECRET=HbEEEwVuthaJoq9E5Dkbiu19mQY6UQoY1ZBeR20p020=
